<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ThermalCameraNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ThermalCameraNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ThermalCameraNet.Properties.Settings>
      <setting name="UnhandledException" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LineNotifyURL" serializeAs="String">
        <value>http://10.2.7.123:8081/alertMessage/sendToLine/</value>
      </setting>
      <setting name="LineToken" serializeAs="String">
        <value>K13Qeks8J1HpO4oHxhF2PVfaQzvItEHOMs2qq0IblgY</value>
      </setting>
      <setting name="LineDuration" serializeAs="String">
        <value>10</value>
      </setting>
    </ThermalCameraNet.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <ThermalCameraNet.Properties.Settings>
      <setting name="Video_Path" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="CameraMode" serializeAs="String">
        <value>0</value>
      </setting>
    </ThermalCameraNet.Properties.Settings>
  </userSettings>
</configuration>
